doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css", integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3", crossorigin="anonymous")
    link(rel="stylesheet" href="/styles.css")
    title Coronavirus Country Data
  body 
    .container 
      .row 
        .col.my-4 
          form(action='/' method='POST')
            button(type="submit" class="btn btn-primary") Search
      
      .row 
        .col.d-flex.align-items-center 
          if data.length === 0
            h2 No data. Click Search!
          else
            div
              img(src=data.countryInfo.flag class='img')
              p Страна - 
                =data.country
              p.last-updated Дата обновления - 
                =dateFnsFormat(new Date(data.updated), 'yyyy-MM-dd HH:mm')
            div.data-disease
              p.in-disease
                =data.cases
              p Количество заболевших
            div.data-disease
              p.out-disease
                =data.recovered
              p Количество выздоровевших
            
