.img {
    border: 1px solid black;
}

.last-updated {
    font-style: italic;
}

.data-disease {
    flex: 1 0 0%;
    display: flex;
    flex-direction: column;
    padding: 0 5px;
}

.data-disease:nth-of-type(2) {
    align-items: flex-end;
}

.in-disease {
    color: red;
    font-size: 2.5em;
    font-weight: 600;
}

.out-disease {
    color: green;
    font-size: 2.5em;
    font-weight: 600;
}